:root {
    --colbg: #fff;
    --coltx: #000;
    --colan1: rgba(255, 88, 0, 0.53);
    --colan2: rgba(0, 255, 20, 0.49);
    --colan3: rgba(20, 0, 255, 0.44);
}

@media (prefers-color-scheme: dark) {
  :root {
    --colbg: #000;
    --coltx: #fff;
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    font-family: sans-serif;
    padding:2em;
    width:100%;
    min-height: 100vh;
}

/* ELEMENTS */

h2, p{
    margin-bottom: 2em;
}

h3{
    margin:2em 0 1em 0;
}

video{
    max-width: 100%;
}

iframe{
    border:none;
    width:100%;
    height:100%;
}


/* LAYOUT */

body.index{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

body.index > header{
    width: 20%;
    min-height: 100%;
}

body.index > main{
    width: 80%;
    min-height: 100%;
    height:auto;
}

iframe.yt{
    width:100%;
    min-height: 50vh;
}



/* TYPOGRAPHY */
.anti-e{
    font-size: 0.5em;
}

/* TWITCH */
#visit_stream{
    height:70vh;
}
#visit_chat{
    height:30vh;
}

#jam_jar{
    display:flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    width:100%;
    height:80vh;
    margin-bottom: 4em;
}

.jam_vid{
    width:44%;
    height:44%;
}

/* GALLERY */
.figallery{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.figallery figure{
    width:44%;
    margin-bottom:2em;
}

.figallery figure img{
    width:100%;
}